<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">MA chat</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            user settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/settings">profile photo</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success" href="/allusers">see all users</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle btn btn-outline-success"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            create or join new group chat
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="home-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#home"
                  type="button"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                >New</button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="profile-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#profile"
                  type="button"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                >join</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              ><form action="/api/creategroup" method="post">
                <input
                  type="text"
                  name="groupName"
                  class="form-control"
                  placeholder="enter the name of the Group"
                />
                <button type="submit" class="btn btn-primary">create</button>
              </form></div><div
                class="tab-pane fade"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              ><form action="/api/searchgroup" method="get">
                <input
                  type="text"
                  name="groupName"
                  class="form-control"
                  placeholder="enter Group name"
                />
                <button type="submit" class="btn btn-primary">search for group</button>
              </form></div>
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" method="get" action="/allusers">
        <input
          class="form-control me-2"
          type="text"
          name="user"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
        <a class="btn btn-outline-danger" href="/api/logout">LogOut</a>
      </form>
    </div>
  </div>
</nav>
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
        <h3 class="font-weight-bold mb-3 text-center text-lg-start">Chats</h3>
        <div class="card">
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              
              {{#if empty}}
                <li class="p-2 border-bottom" style="background-color: #eee;">
                  <div class="alert alert-danger">there is no chats to show</div>
                </li>
                {{#each users}}
                  <li class="p-2 border-bottom" style="background-color: #eee;">
                    <a href="" class="d-flex justify-content-between">
                      <div class="d-flex flex-row">
                        <img
                          src="/images/{{this.pic}}"
                          alt="avatar"
                          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                          width="60"
                        />
                        <div class="pt-1">
                          <p class="fw-bold mb-0">{{this.userName}}</p>
                        </div>
                      </div>
                      <div class="pt-1">
                        <a
                          href="/api/chat/{{this._id}}"
                          class="btn btn-primary rounded-pill"
                        >
                          chat him
                        </a>
                      </div>
                    </a>
                  </li>
                {{/each}}
              {{else}}
                {{#each chats}}
                  <li class="p-2 border-bottom">
                    <a
                      href="/room/{{this._id}}"
                      class="d-flex justify-content-between"
                    >
                      <div class="d-flex flex-row">
                        <img
                          src="/images/{{this.pic}}"
                          alt="avatar"
                          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                          width="60"
                        />
                        <div class="pt-1">
                          <p class="fw-bold mb-0">{{this.userName}}</p>
                          <p class="small text-muted">
                            <b>{{this.sender}}</b>
                            :
                            {{this.lastMsg}}</p>
                        </div>
                      </div>
                    </a>
                  </li>
                {{/each}}
              {{/if}}
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-7 col-xl-8" id="msgContainer">
        {{#if params}}
          <ul class="list-unstyled" id="ul">
            <li class="d-flex justify-content-between mb-4 text-center">
              <div class="card w-100">
                <span class="mt-2"> <h3>{{chatName}}</h3></span>
                <img
                    src="/images/{{chatPic}}"
                    alt="avatar"
                    class="rounded-circle d-flex ms-3 shadow-1-strong"
                    width="60"
                  />
              </div>
            </li>
            {{#each messages}}
              {{#if this.my}}
                <li class="d-flex justify-content-between mb-4">
                  <div class="card w-100">
                    <div
                      class="card-header d-flex justify-content-between p-3"
                      style="background-color: rgb(185, 245, 245);"
                    >
                      <p class="fw-bold mb-0">{{this.sender}}</p>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">
                        {{this.content}}
                      </p>
                    </div>
                  </div>
                  <img
                    src="/images/{{this.pic}}"
                    alt="avatar"
                    class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong"
                    width="60"
                  />
                </li>
              {{else}}
                <li class="d-flex justify-content-between mb-4">
                  <img
                    src="/images/{{this.pic}}"
                    alt="avatar"
                    class="rounded-circle d-flex align-self-start me-3 shadow-1-strong"
                    width="60"
                  />
                  <div class="card w-100">
                    <div class="card-header d-flex justify-content-between p-3">
                      <p class="fw-bold mb-0">{{this.sender}}</p>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">
                        {{this.content}}
                      </p>
                    </div>
                  </div>
                </li>
              {{/if}}
            {{/each}}
            {{! hiddens : }}
            <input type="hidden" name="id" id="chatId" value={{chatId}} />
            <input type="hidden" id="userId" value={{userId}} />
            <input type="hidden" id="userName" value={{userName}} />
          </ul>
          <div class="alert alert-secondary" id="typing"></div>
          <li class="bg-white mb-3">
            <div class="form-outline">
              <textarea
                name="msg"
                class="form-control rounded-pill"
                id="message"
                rows="2"
              ></textarea>
              <label class="form-label" for="message">Message</label>
            </div>
          </li>
          <button
            id="submit"
            class="btn btn-info btn-rounded float-end"
          >Send</button>
        {{else}}
          <div class="alert alert-primary mt-5">
            select a chat
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>
{{#if params}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/sockets/chatsocket.js"></script>
{{else}}

{{/if}}